# dependencies
node_modules/
client/node_modules/
server/node_modules/

# production build
client/dist/

# environment variables
.env
server/.env
client/.env

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
